.searchContainer {
  display: flex;
  position: relative;
  width: 16vw;
  height: 6vh;
  background: transparent;
  border-radius: 5px;
  border: 1px solid black;
}

.searchInput {
  border: none;
  outline: none;
  background-color: transparent;
  color: black;
}

.searchInput::placeholder {
  color: grey;
  text-align: left;
}

.searchInput {
  width: 100%;
  padding: 10px;
  font-size: 15px;
}
