.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20vh;
  gap: 10px;
}

h2 {
  font-size: 30px;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.addContainer {
  display: flex;
  position: relative;
  width: 16vw;
  height: 6vh;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 5px;
  border: 1px solid black;
}
