.mainCointainer {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.2), 0 1px 10px rgba(0, 0, 0, 0.2);
  background: whitesmoke;
  width: 18vw;
  height: 36vh;
  align-items: center;
  transition: 0.4s;
}

.mainCointainer:hover {
  transform: scale(106%);
}

.mainCointainer p {
  font-weight: 500;
}

.mainCointainer img {
  border-radius: 60px;
}

.namesContainer {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 100%;
  justify-content: center;
}
