/* .mainCointainer {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.2), 0 1px 10px rgba(0, 0, 0, 0.2);
  background: whitesmoke;
  width: 20vw;
  height: 34vh;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

.mainCointainer:hover {
  transform: scale(104%);
}

.mainCointainer p {
  font-weight: 500;
}

.mainCointainer img {
  border-radius: 60px;
}

.namesContainer {
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 4px;
  width: 100%;
  justify-content: center;
} */

.mainCointainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 18vw;
  height: 34vh;
  background-color: whitesmoke;
  border-radius: 10px;
  border: 1px solid rgb(179, 179, 179);
  box-shadow: 1px 0px 12px rgba(0, 0, 0, 0.1), 0 1px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 0.4s;
}

.mainCointainer:hover {
  transform: scale(104%);
}

.namesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.namesContainer p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 5px;
}

.mainCointainer img {
  border-radius: 60px;
}

span {
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  color: black;
  margin-bottom: 5px;
}
